body {
	background-image: url('../img/bg2.png');
	background-color: aliceblue;
	margin-bottom: 90px;
}

#messages-wrapper a {
	color: #242533;
    border: 1px solid;
    padding: 1px 5px;
    border-radius: 3px;
}

#messages-wrapper a:hover {
	text-decoration: none;
    color: white;
}

.messages-wrapper .item .account-details {
	display: flex;
}

.messages-wrapper .item .account-details img {
    border-radius: 50%;
	height: 30px;
	margin-right: 10px;
}

.messages-wrapper .item .message-content {
	margin-left: 40px;
}

.messages-wrapper .item .reply {
	margin-left: 10px;
}

.comments-wrapper {
	margin-left: 40px;
}

footer.footer {
	height: 40px;
	background-color: #2781da;
	position: fixed;
	width: 100%;
	bottom: 0;
}

footer a {
	color: transparent;
} 

.container .logout a {
	text-decoration: none;
    padding: 5px 15px;
    border: 1px solid #007bff00;
    transition: all 0.4s;
}

.container .logout a:hover {
	color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d;
    border-radius: 20px;
}

.container .logout {
	position: absolute;
	right: 30px;
	top: 10px;
}

item-comment {
	position: relative;
}

.item-comment__delete {
	position: absolute;
	top: -5px;
	right: -5px;
}

.item-message__delete {
	position: absolute;
	top: 5px;
	right: 5px;
}

#messages-wrapper{
	background-color: #0c0c0c6b;
    color: white;
    padding: 0px 15px;
    border-radius: 7px;
    padding-bottom: 15px;
}

.reply-input {
    border: 0px;
    border-radius: 6px 0 0 6px;
	margin-left: 37px;
	margin-top: 10px;
}

.reply-btn {
	border: 0px;
    border-radius: 0 6px 6px 0;
}

.reply-btn:hover {
	background-color: #28a745;
    cursor: pointer;
    color: white;
}

.container__center {
	text-align: center;
	margin-top: 5%;
}

.container__hello {
	text-align: center;
	margin-top: 5%;
}

